.card-box {
    margin-bottom: 12px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.steps .step {
    display: block;
    width: 100%;
    /* margin-bottom: 35px; */
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    /* height: 80px; */
    text-align: left
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 45%;
    width: 90%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    /* display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    /* background-color: #f5f5f5; */
    color: #374250;
    font-size: 20px;
    /* line-height: 32px;
    z-index: 5 */
}

/* .steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 12px;
    font-weight: 500
} */

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

/* .steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
} */

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

/* .bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
} */

.modal { 
    overflow: auto !important; 
}

.track-order-list-left .bullet-active .active-dot.dot {
    top: 0px;
    left: -5px;
    border-color: #3283f6;
}

.track-order-list-right .bullet-active .active-dot.dot {
    top: 0px;
    right: -5px;
    border-color: #3283f6;
}

.dot {
    border: 4px solid #3283f6;
    background: 0 0;
    border-radius: 60px;
    height: 30px;
    width: 30px;
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite;
    position: absolute;
    top: -15px;
    right: -2px;
    z-index: 1;
    opacity: 0;
}